* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: radial-gradient(
    circle,
    rgba(49, 81, 244, 1) 0%,
    rgba(255, 44, 44, 1) 100%
  );
  color: #eee;
  font-family: Inter;
  font-size: 3vmin;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#background {
  height: auto;
  position: absolute;
  width: 100%;
}

/* Custom styles for Todo List items */
.todo-list {
  margin-bottom: 10px;
}

.buttons {
  margin-top: 10px;
}

.btn-spotify {
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Inter;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.btn-spotify:active {
  position: relative;
  top: 1px;
}

img {
  background: transparent;
}
